
**/target/

.m2/

*.iml
*.ipr
*.iws
.vscode/
.idea/
.classpath
.project
.settings/

**/logs/
*.log
*.tmp
*.temp

.git
.gitignore
.gitattributes
**/.git/

.DS_Store
Thumbs.db

**/docker-compose*.yml
**/Dockerfile*
.dockerignore

scripts/
docs/
README.md

**/.env
**/.env.*
**/keycloak-config*.json
**/src/main/resources/application-dev.yml
**/src/main/resources/application-local.yml
**/config/vault/
**/*.p12
**/*.jks
**/*.pem
**/*.key
**/*.crt

**/src/test/
**/src/integration-test/

**/node_modules/