
node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.nyc_output
coverage
.cache
.DS_Store
*.log

!proto/
!shared/
!user-service/
!account-service/
!transaction-service/
!gateway-service/
!eureka-server/

docker/
*.yml
*.yaml

*/target/
target/

.idea/
.vscode/
*.iml
*.ipr
*.iws

*/src/test/