
POSTGRES_USER=barakah
POSTGRES_PASSWORD=change_this_password
POSTGRES_DB=barakah
POSTGRES_PORT=5432

KAFKA_PORT=9092
KAFKA_CLUSTER_ID=generateRandomID 

PGADMIN_USER=admin@example.com
PGADMIN_PASSWORD=change_this_password
PGADMIN_PORT=5050

KEYCLOAK_DB=keycloak
KEYCLOAK_DB_USER=keycloak
KEYCLOAK_DB_PASSWORD=change_this_password
KEYCLOAK_PORT=8080

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=change_this_password
KEYCLOAK_ADMIN_CLIENT_ID=admin-cli


GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change_this_password
GRAFANA_ROOT_URL=http://localhost:3000

KAFKA_UI_PORT=8081
AUTH_SERVICE_PORT=6565